body {
  background-color: #eeeeee;
  font-family: Helvetica;
}

#kontener {
  width: 90%;
  margin: auto;
}

#logo,
#menu {
  background-color: lightblue;
  height: 100px;
  width: 50%;
  padding: 10px 0px;
  float: left;
}

#baner {
  background-color: #dddddd;
  height: 200px;
  clear: both;
}

#main {
  color: navy;
  margin: 50px;
  height: 400px;
}

#footer {
  text-align: right;
  background-color: lightblue;
  color: navy;
}

input[type="submit"] {
  background-color: lightblue;
  color: navy;
}

#menu a {
  color: navy;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

#menu a:hover {
  border: solid 1px navy;
}
